.section {
    margin: 10px 0;
    background-color: white;

}

.section__header {
    border-bottom: solid rgb(230, 227, 227) 1px;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    display: grid;
    grid-template-columns:1fr auto auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
.section__container {
    padding: 20px;
}
.section__header--container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(230, 227, 227) 1px;
}
@media (max-width: 767px) {
    .section__header--container {
        grid-template-columns: 1fr;

    }
}


