.tasks {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    border-bottom: solid rgb(230, 227, 227) 1px;
    padding: 10px;
    align-items: center;
}

.tasks__item--done {
    text-decoration: line-through;
}

.button__done {
    background-color: rgb(29, 179, 29);
    border: none;
    height: 30px;
    width: 30px;
    transition: 1s;
}

.button__done:hover {
    background-color: rgb(40, 202, 40);
}

.button__remove {
    background-color: rgb(219, 38, 38);
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.button__remove:hover {
    background-color: rgb(250, 56, 56);
}
.tasks__item--hidden{
    display: none;
}